.btn {
    width: 115px;
    height: 46px;
    background: $blue;
    border-radius: 8px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    border: none;
    &_orange{
        width: 125px;
        background: #FFFFFF;
        border: 1px solid #FFB800;
        color: $orange;
    }
    &_shadow{
        box-shadow: 0px 10px 15px rgba(27, 95, 193, 0.19);
    }
}
